---
import Layout from '../layouts/Layout.astro'
import TextBlock from '../components/TextBlock.astro'
import { Auth } from '../components/Auth'
import { Main } from '../components/Main'
---

<Layout title='GitHub Issues Labeller'>
	<Auth client:load />
	<main class='container max-w-3xl mx-auto mt-10 flex flex-col gap-12 mb-auto'>
		<section class='bg-indigo-800 p-4 rounded-lg shadow'>
			<TextBlock>This is a GitHub issue labeller.</TextBlock>
			<TextBlock>
				Insert the url of a repository and using Artificial Intelligence, the most appropriate tags
				for untagged issues will be determined based on those already tagged in the project.
			</TextBlock>
			<TextBlock>
				The more issues that are already tagged, the more accurate the AI will be in suggesting new
				tags.
			</TextBlock>
		</section>

		<Main client:load />
	</main>
</Layout>
